<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
    
    {% block head_block %}
    <title>Bancomer</title>
    {% endblock %}



        {% block body_block %}
    <div class="background_index">
        <div class="div-container">
            <div id="leaf-image">
                        <img src="{% static "leaf.jpg" %}" style="width: 68px;" alt="Leaf logo">
            </div>
            <div id="message">
                <h1 class="title">Envío de comprobante</h1>
                <div style="background-color: #2dcccd; height: 10px; width: 50px;margin-bottom: 30px;margin-top:10px;"></div>
                <p class="text">
                    En Bancomer nos preocupamos por la problematica actual del daño 
                    <br> al medio ambiente, debido a ello, mandamos a la verga los papelitos.
                    Decir que este programa se hizo por la chaviza en el hackaton, introducir 
                    código que me regresó el ATM llamado e-Code.
                </p>
            </div>
            <div id="button-container">
                <button class="button"><p>SOLICITA TU COMPROBANTE</p></button>
            </div>
        </div>
    </div>
    <!-- Web page body -->
    {% endblock %}

    